.tester {
    background-color: red;
    border: 1px solid black;
}

body {   
    background: url(../images/background.png) no-repeat center center;
    background-size: cover;
    height: 100vh;
}

header {
    background-color: #007bff;
    height: 45px;
    padding: 3px 3px 0px 3px;
}

h1 {
    font-size: 14px;
    color: #fff;
}

img {
    height: 40px;
}

footer a {
    display: inline-block;
    width: 300px;
    height: 300px;
    background: url(../images/wizard.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer a span {
    display: none;
}

label input {
    margin: 0 3px;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.list.list-bullets {
    list-style-type: disc;
}

.list.list-horizontal {
    padding: 0;
}

.list.list-horizontal li {
    display: inline-block;
    padding-right: 10px;
}

.list.list-horizontal.list-education {
    padding: 15px 0;
}

.box {
    height: 350px;
    border: 1px solid #007bff;
    background: rgb(248, 249, 250);
}

.content-section {
    padding-top: 50px;
}

.box-foober {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-bottom: 15px;
}

.box h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 8px;
}
