#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    color: white;
    font-size: 2.3em;
    text-align: center;
}

#page-loader .loader-text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    background: url("https://media.giphy.com/media/l41YtzJmMgEyOWBKU/giphy.gif") no-repeat;
    height: 220px;
    background-size: 100px;
}